on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish
env:
  RENV_PATHS_ROOT: ~/.cache/R/renv

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - name: Install librsvg
        run: sudo apt-get update && sudo apt-get install -y librsvg2-bin

      - name: Render Lecture Notes
        run: quarto render --profile pdf

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}